.home {
  display: flex;
  overflow: hidden;
  .bottom-menu {
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin-right: 20px;
    display: flex;
    background-color: #1171b6;
    padding: 10px;
    flex-direction: row;
  }
  .total-users {
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(89, 88, 88);
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    width: 38%;
  }
  .total-users-tag {
    margin-top: 5px;
  }
  .total-users-active-data {
    margin-left: 10px;

    background-color: #990000;
    border-radius: 10px;
    width: 10%;
    text-align: center;
    padding: 5px;
    color: White;
  }

  .homeContainer {
    flex: 6;
    .widgets,
    .charts {
      display: flex;
      gap: 20px;
    }

    .charts {
      padding: 5px 20px;
    }

    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 20px;

      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }
    }
  }
}
